@font-face { font-family: Oswald; src: url('fonts/Oswald-VariableFont_wght.ttf'); font-display: swap;}

/* Resetting default styles */
:root {
  --page-width: 1000px;
  --page-width-small: 800px;
  --left-right-padding: 1.5rem;
  --bg: #fff;
  --bg-secondary: #121212;
  --primary-color: #E9CB69;
  --primary-active-color: #E9CB69;
  --txt-color: #000;
  --txt-focus: #000;
  --heading-font: "Oswald", sans-serif;
  --text-font: "Oswald", sans-serif;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: inherit;
}
html, body{
  height: 100%;
  font-family: var(--text-font);
  color: var(--txt-color);
  background-color: var(--bg);
  font-size: 16px;
  scroll-behavior: smooth;
}
h1 {
  color: var(--primary-active-color);
  font-family: var(--heading-font);
  font-size: 4rem;
  font-weight: 400;
}
h2 {
  font-family: var(--heading-font);
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
  font-weight: 400;
}
h3 {
  font-family: var(--heading-font);
  font-size: 2rem;
  margin-bottom: 0.7rem;
  font-weight: 400;
}
@media screen and (max-width: 490px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
p {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.emphasize {
  color: var(--primary-color) !important;
}
.bullet {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.bullet:before {
  content: url(images/icons/star.svg);
  display: block;
  height: 1rem;
  width: 1rem;

}
a, a:visited {
  display: block;
  text-decoration: none;
  color: inherit;
}
.inline-link {
  display: inline;
  font-weight: 700;
}
object {
  pointer-events: none;
}
.btn {
  display: block;
  position: relative;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 500px;
  color: #ffffff;
  background-color: transparent;
  font-family: var(--text-font);
  padding: 0.5rem 2rem;
  border: solid 2px var(--primary-active-color);
  cursor: pointer;
  transition: all .2s ease-in-out;
} 
.btn:hover {
  background: var(--primary-active-color);
}
.btn:after {
  content: url(images/icons/arrow.svg);
  position: absolute;
  right: 0;
  top: 50%;
  height: 1.3rem;
  width: 1.3rem;
  transform: translateY(-50%) rotate(-90deg);
}
.big-btn {
  padding: 0.5rem 3rem;
}
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 0.5rem 0;
}
.social-link {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.social-link:hover {
  scale: 1.2;
}
.invert-txt {
  color: #fff;
}

/* General section styles */
section {
  padding: 4rem 0;
}
.full-width {
  width: 100%;
}
.secondary-bg {
  background: var(--bg-secondary);
  color: #fff;
}
.page-width {
  width: 100%;
  max-width: var(--page-width);
  padding: 0 var(--left-right-padding);
}
.page-width-small {
  width: 100%;
  max-width: var(--page-width-small);
}
.grid {
  display: grid;
}
.grid-center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.gap-1 {
  gap: 1rem;
}
.gap {
  gap: 2rem;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .flex-reverse {
    flex-direction: unset;
  }
}
.col3-flex-item {
  width: 30%;
}
@media screen and (max-width: 700px) {
  .col3-flex-item {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  .col3-flex-item {
    width: 90%;
  }
}
.center-me {
  margin-left: auto;
  margin-right: auto;
}
.center-txt {
  text-align: center;
}
.slide-in-left {
  transform: translate(-50px, 0px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.slide-in-up {
  transform: translate(0px, 50px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.slide-in-animate {
  transform: translate(0, 0);
  opacity: 1;
}
.fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.fade-in-animate {
  opacity: 1;
}
.tagline {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  font-size: 1.7rem;
  gap: 2rem;
}
.tagline:before {
  content: '';
  display: block;
  background-color: var(--primary-active-color);
  height: 0.2rem;
  width: 5rem;
}
.tagline:after {
  content: '';
  display: block;
  background-color: var(--primary-active-color);
  height: 0.2rem;
  width: 100%;
}
.separator {
  height: 0.2rem;
  background-color: var(--primary-color);
  margin: 2rem 0;
}

/* Header Styles */
.header-container {
  position: fixed;
  top: 0; 
  padding: 0.6rem 0;
  transition: top 0.3s ease-in-out;
  z-index: 3;
}
.header-background {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}
header{
  display: flex;
  align-items: center;  
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--left-right-padding);
}
.logo {
  max-width: 100%;
  width: auto;
  height: 100px;
  resize: both;
}
.big-logo {
  height: 150px !important;
}
.logo object {
  width: 95%;
  height: 95%;
}
.header-icon {
  display: none;
  background: url(images/icons/hamburger.svg) no-repeat center;
  min-width: 3rem;
  min-height: 3rem;
  height: 100%;
  cursor: pointer;
}
.close-icon {
  background: url(images/icons/close.svg) no-repeat center !important;
  min-width: 3rem;
  min-height: 3rem;
  margin: 2.1rem 1rem;
  cursor: pointer;
}
.header-nav-desktop {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.header-nav .header-item {
  position: relative;
  color: inherit;
  transition: .2s ease;
}
.header-nav .active-header:after, .header-nav .active-mobile-header:after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--primary-active-color);
  height: 3px;
}
.header-nav .active-header:after {   
  bottom: -1rem;
  width: 100%;
}
.header-nav .active-mobile-header:after {
  width: 1rem;
}
.header-nav-mobile {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: calc(100vw + 50px);
  height: 100vh;
  width: 70%;
  background-color: var(--bg);
  box-shadow: 0px 0px 44px 20px rgba(0, 0, 0, 0.5);
  transition: all .45s cubic-bezier(.29,.63,.44,1);
  z-index: 4;
}
.open-nav {
  transform: translateX(calc(-100% - 50px)) !important;
}
@media screen and (min-width: 900px) {
  header {
    gap: 15rem;
  }
  .header-nav .header-item:hover {
    color: var(--primary-active-color);
  }
}
/* Hamburger Menu */
@media screen and (max-width: 900px) {
  .header-icon {
      display: block;
  }
  .header-nav .header-item {
      padding: 1.2rem 3rem;
      color: var(--txt-color);
  }
  .header-nav-desktop {
      display: none;
  }
  .header-nav-mobile { 
      display: flex;
  }
  .header-nav .active-mobile-header {
    color: var(--primary-active-color);
  }
}
.rotating-container {
  position: relative;
}
.rotating-header {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  20%, 80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
}
.rotating-animation:nth-of-type(1) {
  animation-name: rotate;
  animation-duration: 1.5s;
}
.rotating-animation:nth-of-type(2) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 2s;
}
.rotating-animation:nth-of-type(3) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 4s;
}

/* Banner styles */
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-banner {
  position: relative;
  height: 700px;
  max-height: 100vh;
  z-index: 2;
  color: #fff;
}
.banner-content {
  height: 100%;
  position: relative;
}
.banner-text {
  position: absolute;
  top: 30%;
  max-width: 90%;
}

/* Main Styles */
main {
  position: relative;
  width: 100%;
  background: var(--bg);
  z-index: 1;

  height: 1500px;
}

/* service card styles */
.service-card {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 12px;
}
.service-card img {
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: .25s ease-in-out;
}
.service-card:hover img {
  scale: 1.1;
}
.service-card figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem 2rem;
  z-index: 1;
}
.service-card figcaption h3 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 0;
}
.service-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Img with text styles */
.img-w-txt img {
  height: auto;
  width: 400px;
  max-width: 90%;
}
.img-w-txt .sml-img {
  width: 250px;
  padding: 1.5rem 0;
}
.img-w-txt .txt {
  flex: 1;
  min-width: 40%;
}


/* form styles */
#contact > div {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  border-radius: 15px;
  backdrop-filter: blur(3px);
  padding-top: 1rem;
  width: 95% !important;
  max-width: 600px;
}
form {
  padding: 1rem 0;
}
.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.input-group input, .input-group textarea, .input-group select {
  width: 100%;
  border: 0.5px solid #ccc;
  margin-top: 0.4rem;
  padding: 0.4rem;
  border-radius: 10px;
}
.input-group input:focus, .input-group textarea:focus, .input-group select:focus {
  outline: none !important;
  border: 2px solid var(--primary-active-color);
}
.input-group textarea {
  resize: none;
}
.submit-btn {
  justify-self: flex-start;
}
.recaptcha {
  justify-self: flex-start;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .recaptcha iframe {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

/* Footer Styles */
#footer {
  position: sticky;
  bottom: 0;
  overflow: visible;
}
footer {
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
footer .footer-block:first-of-type {
  max-width: 400px;
}
footer > :not(.footer-logo) {
  width: 150px;
}
.footer-block h3:after {
  content: '';
  display: block;
  position: relative;
  top: 0.5rem;
  background-color: var(--primary-active-color);
  height: 0.15rem;
  width: 100%;
  max-width: 9rem;
}
.footer-block nav > * {
  line-height: 2.5rem;
  margin-bottom: 0;
}
.footer-block nav a {
  transition: .2s ease;
}
.footer-block nav a:hover {
  color: var(--primary-active-color);
}
@media screen and (max-width: 700px) {
  footer > :not(.footer-logo) {
    width: unset;
  }
}
@media screen and (max-width: 600px) {
  footer {
    grid-template-columns: auto auto;
    justify-content: start;
  }
  footer .footer-block:first-of-type {
    grid-column: 1 / span 2;
  }
  footer > :not(.footer-logo) {
    width: unset;
  }
}

.copyright {
  width: 100%;
  color: #fff;
  border-top: 1px #fff solid;
  padding: 0.5rem 0;
  font-size: 0.7rem;
}
.copyright > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.copyright p {
  margin: 0;
}